[main]
listen-address=192.168.64.137
netmask=255.255.255.0
gateway=192.168.64.1

# every command is under a section called 'lamp' and then some number
[lamp-001]
# first parameter given to the scripts
id=some_id
# some descriptive name
name=My lamp
#cmd=/usr/local/bin/set-lamp-state.sh
cmd=./set-lamp-state.sh
# checks what the status of the mancave is
cmd_get=./get-lamp-state.sh

[lamp-002]
id=another_lamp
name=2nd lamp
cmd=./set-lamp-state.sh
cmd_get=./get-lamp-state.sh

[lamp-003]
id=mancave
name=mancave lights
cmd=./mancave-on-off.sh
